*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;   
    font-size: 16px;
    line-height: 1.33;
    color: #3F3B3D;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

ul, ol {
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: .3s;
    color: #000;

    &:hover {
        color: #F14814;
    }
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}